/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .nav-container{
        @apply flex items-center justify-between relative py-4 shadow-md pb-4 bg-primary z-10;
    }
    .nav-outer-wrapper{
        @apply w-5/6 mx-auto flex items-center justify-between;
    }
    .nav-link{
        @apply block font-semibold py-2 text-sm 2xl:text-base text-white hover:text-secondary md:border-none md:p-0;
    }
    .nav-link:active{
        @apply text-primary;
    }
    .nav-sm-screen{
        @apply absolute top-20 right-4 z-10 px-4 py-6;
        background-color: #BCBD55;
    }

    .btn-pagination{
        @apply px-4 py-1 border-2 text-primary text-sm font-bold border-primary hover:border-complimentary hover:bg-complimentary;
    }
    .text-sub-title{
        @apply text-gray-400 text-sm 2xl:text-base font-bold;
    }
    .text-sub-value{
        @apply text-gray-100 text-sm 2xl:text-base font-semibold;
    }
    .main-info-sub-col{
        @apply flex flex-col justify-between px-6 border-r border-secondary;
    }
    .main-info-sub-col:first-child{
        @apply pl-0;
    }
    .main-info-sub-col:last-child{
        @apply border-0;
    }
    .main-info-sub-col > .label{
        @apply text-base 2xl:text-lg text-gray-800 font-medium;
    }
    .main-info-sub-col > .data{
        @apply text-lg 2xl:text-xl text-secondary font-semibold;
    }
    .extra-info-col{
        @apply  flex flex-col justify-start border-b border-gray-300 pb-2 my-2;
    }
    .extra-info-col:last-child{
        @apply border-0;
    }
    .extra-info-col > .info-label{
        @apply text-base 2xl:text-lg text-gray-800 font-medium;
    }
    .extra-info-col > .info-value{
        @apply text-lg 2xl:text-xl text-primary font-semibold;
    }

    .home-item{
        @apply w-2/3 md:w-1/3 h-52 lg:h-64 shadow-md flex
         justify-center items-center text-white hover:text-complimentary text-base font-bold font-press-start
         relative transition duration-200 ease-in-out transform hover:-translate-y-1 hover:scale-105 lg:hover:scale-110
         ;
    }
    .hero-text{
        @apply absolute top-0 w-full h-3/4 md:h-1/2 flex flex-col justify-center items-center;
    }
    .hero-image{
        @apply w-full object-cover object-bottom;
        height: calc(100vh - 96px);
    }
    .bg-cover{
        @apply absolute top-0 w-full h-full flex justify-center items-center;
        background-color: #00000088;
    }
    .loading-screen-bg{
        @apply my-6 w-5/6 mx-auto text-gray-700 text-lg flex items-center justify-center;
        height: calc(100vh - 96px);
    }

    .character-card-div:nth-child(odd){
        @apply animate-animated animate-fast animate-slideInLeft;
    }
    .character-card-div:nth-child(even){
        @apply animate-animated animate-fast animate-slideInRight;
    }
    .avatar{
        @apply absolute -top-4 -left-4 w-20 md:w-24 h-20 md:h-24 rounded-full object-fill md:object-cover;
    }
    @media only screen and (max-width: 600px) { 
        .hero-image{
            height: calc(100vh - 80px);
        }
        .loading-screen-bg{
            height: calc(100vh - 80px);
        }
        .nav-container{
            @apply sticky top-0;
        }
    }

}